#welcome {
  text-align: center;
  /*background-image: url("images/mapa.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:200px;*/
  padding:80px 0;
}
#welcome img {
  width: 200px;
}
button{
  width: 150px;
  border-color: #FFAE00;
  
}
#welcome button {
  margin-top: 15px;
  background-color: #FFAE00;
  color:#FFFFFF;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  padding: 8px 20px;
}
button:hover{
  width: 160px;
  background-color:#F48809 !important;
}
#welcome input[type="text"] {
  background-color:#C4C4C4;
  color:#211E1E;
  border-radius: 6px;
  text-align: center;
  border: 3px solid #019BB1;
}
#welcome input[type="text"]::placeholder{
   color:#211E1E;
}
#welcome h1{
  font-size: 30px;
  color:#DD0000;
}

h1, h2{
 color:000000; 
 font-family: roboto;
font-size: 12px;
}
 #header{
background-color: #0735BE;
color: #FFFFFF;
position:relative;
margin-bottom: 30px;

}
 #header img{
  position:absolute;
  top:5px;
  left: 15px;
  width: 40px;
  border-radius: 50%;
}
 #header h1{
  margin-left: 65px;
  font-size: 18px;
  padding: 5px 0px;
}
#avatar #firstHeader{
  background-color: #0735BE;
  color: #FFFFFF;
  padding-left: 15px;
}
#avatar #firstHeader h1{
  padding: 5px 0px;
  font-size: 18px;
}

#avatar h2{
  font-size: 16px;
}
#avatar img{
  width: 120px;
  float: inherit;
  border-radius: 50%;
  filter: grayscale(100%);
}
#avatar img:hover{
border:3px solid #FFAE00;
filter: grayscale(0);
}
#avatar img.selected{
border:3px solid #FFAE00;
filter: grayscale(0);
}
#avatar .avatares{
width: 32%;
display: inline-block;
text-align: center;
}
#avatar button {
  margin-top: 15px;
  background-color: #FFAE00;
  color:#FFFFFF;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  padding: 8px 20px;
}
#avatar #secondButton{
  text-align: center;
}
#avatar #header{
  background-color: #0735BE;
  color: #FFFFFF;
  padding-left: 25px;
}
#start {
  text-align: center;
}
#start h2{
  font-size: 16px;
}
#start button {
  background-color: #FFAE00;
  color: #211E1E;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  padding: 8px 20px;
}

#places1, #places2, #places3, #dances1, #dances2, #dances3 {
  text-align: center;
}

#places1 img, #places2 img, #places3 img, #dances1 img, #dances2 img, #dances3 img{
  width: 300px;
  margin-top: 15px;
  margin-bottom: 30px;
}

#places1 h2, #places2 h2, #places3 h2, #dances1 h2, #dances2 h2, #dances3 h2{
  font-size: 16px;
}

#places1 button, #places2 button, #places3 button, #dances1 button, #dances2 button, #dances3 button{
 background-color: #FFAE00;
 color: #211E1E;
 border-radius: 6px;
 display:block;
 margin: auto;
 font-size:25px;
}


#answers button{
 background-color: #FFAE00;
 color: #211E1E;
 border-radius: 6px;
 font-size: 14px;
  padding: 8px 20px;
 }

 #answers h1, #answers h2{
   font-size: 16px;
 }
 
#avatar button.selected{
border:3px solid #FFAE00;

}
